<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helplink">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HelpLink"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpLink">

        <!-- ADMIN -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"/>

        <!-- GUEST WAITING -->
        <activity
            android:name=".GuestWaitingActivity"
            android:exported="false"/>

        <!-- LOGIN (LAUNCHER) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- SIGN UP -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"/>

        <!-- HOME -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"/>

        <!-- REQUEST HELP -->
        <activity
            android:name=".RequestHelpActivity"
            android:exported="false"/>

        <!-- OFFER HELP -->
        <activity
            android:name=".ViewRequestsActivity"
            android:exported="false"/>

        <!-- MY JOBS -->
        <activity
            android:name=".MyJobsActivity"
            android:exported="false"/>

        <!-- LEADERBOARD -->
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false"/>

        <!-- CHAT LIST -->
        <activity
            android:name=".ChatsActivity"
            android:exported="false"/>

        <!-- SINGLE CHAT -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"/>

        <!-- MAP -->
        <activity
            android:name=".MapsActivity"
            android:exported="false"/>

        <!-- FIREBASE CLOUD MESSAGING -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

    </application>

</manifest>
